@model MyCVonline.Core.ViewModels.UpdatePasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group reset-pass-form">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @placeholder = "Your Current Password" })
                </div>
            </div>
            <div class="form-group reset-pass-form">
                <div class="col-md-12 ">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New password" })
                </div>
            </div>
            <div class="form-group reset-pass-form">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                </div>
            </div>
            <div class="form-group reset-pass-form">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Reset" />
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
